---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mt-6">Engineering</h1>
        <h2>LEGO League opstart.</h2>
		<div class="instructions  bg-slate-800">
            <h3 class="font-semibold">
                LEGO League
                <span class="text-xs">
                    Mark fortæller (Max 10 min)
                </span>
            </h3>
			<a class="text-sm" href="https://www.youtube.com/watch?v=-sTd4skcLzI"><p class="ms-0">Video: Introduktion til banen</p></a>
			<div class="flex flex-nowrap flex-row space-x-2">
				<a href="https://www.pacific-research.com/wp-content/uploads/2020/09/Iterative-product-development-process.png">
					<img class="max-w-48" src="https://media.istockphoto.com/id/1394679842/vector/agile-process-diagram.jpg?s=612x612&w=0&k=20&c=j-xm_GTBFPx_wKNIv5pfUBnpvfFFUMpsi0-qx1C4Eag=" alt=""><br>
				</a>
			</div>
			
        </div>
		
		<div class="instructions bg-slate-800">
			<h3 class="font-semibold">
				Arbejde i grupper:	
            </h3>
			<a href="https://spike.legoeducation.com/prime/models/bltc58e302d70cf6530">
				<p>
					1) Bygge basen
				</p>
			</a>
			<a href="https://spike.legoeducation.com/prime/project">
				<p>
					2) Få den til at køre
					<br><span class="text-sm">
						Tilføj kode, der får basen til at køre så t æt på LEGO manden som muligt (uden at vælte den).
					</span>	
				</p>
			</a>
			
        </div>
	</main>
</Layout>

<style>
	a{
		text-decoration: none;
	}
	.instructions p, .instructions h3:not(.inspiration){
		margin-bottom: 12px;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1,h2 {
		
		line-height: 1;
		text-align: center;
		
	}

    h1{
        font-size: 4rem;
		font-weight: 700;
        margin-bottom: 1.6rem;
    }

    h2{
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 4rem;
    }
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		padding: 1.5rem;
		border-radius: 8px;
	}

	.instructions.color{
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
    .instructions p{
        margin-left:64px;
    }
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>