---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import VideoComponent from '../components/VdeoComponent.astro'
//import Engineering from './engineering.astro';

const d = new Date()
const whatDay = d.getDay()
---

<Layout title="Special Minds Aarhus @ Github">
    <main>
        <h1 class="mt-6">Vejlednig<span class="text-gradient">
            til at bruge FETCH
            </span></h1>
            <h3>Brug af Fetch til at hente data og dynamisk opdatere din PWA</h3>
            

            
            
            <!--- 
            <VideoComponent 
            src="/video/github_vejledning.mp4"
            />
            -->
            <br>
            <div style="border-bottom: 2px solid white;"></div>
            <br>

    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.125;
        text-align: center;
        margin-bottom: 1em;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

