---
import Layout from '../layouts/Layout.astro';
//import { Image } from 'astro:assets';
//import madlavning from "../images/madlavning godot.png"

const videoUrl = "https://www.youtube.com/embed/2MOFAHGUGps?start=0";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mt-8 mb-[unset]">Arduino</h1>
		<div class="instructions">
			<iframe 
			width="560" 
			height="315" 
			src={videoUrl} 
			title="YouTube video player" 
			frameborder="0" 
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
			allowfullscreen
		  />
				<div class="p-8 mb-8">

					<h2 class="font-semibold text-center mt-12 mb-2">
						
						Fra begynder til robotarm:
					</h2>			
					<br>
					<p class=" text-md font-thin mt-0"><span class="font-semibold">Fremgangsmåde: </span> Gennemgå og genskab elektronikken + koden i delene 1-2. Dette vil sikre at du har en god forståelse af arduinoen, koden samt de forskellige komponenter du kan få brug for i arbejdet med at lave en robotarm. <br> <span class="font-bold"> Om del 3: </span> Del 3er en introduktion til robotarm-projektet. Du kan løse det som i videoen, udvide ved hjælp af 3d print eller gå videre med en af dine egne projektideer.</p>
				</div>
				
				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					<p class=" text-md font-thin mt-0">
						Del 1: Introduktion
						<br><br>
						<a class="decoration-transparent" href="https://www.youtube.com/watch?v=cd04o5yqSAU">
							Se tutorial 1 - How to use an Arduino
						</a>
						<br>
						<a class="decoration-transparent" href="https://www.youtube.com/watch?v=9GLaU-BCEQM">
							Se tutorial 2 - How to Blink an LED with Arduino
						</a>
						<br>
						<a class="decoration-transparent" href="https://www.youtube.com/watch?v=9GLaU-BCEQM">
							Se tutorial 3 - How to debug
						</a>
					</p>
				</div>
				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					<p class=" text-md font-thin mt-0">
						Del 2: Need to know
						<br><br>
						<a class="decoration-transparent" href="https://www.youtube.com/watch?v=Wa8CjGsOFzY&t=6s">
							Se tutorial 7 - How to Use a Potentiometer with Arduino analogRead
						</a> <br>
						<a class="decoration-transparent" href="https://www.youtube.com/watch?v=qJC1nt_eJZs">
							Se tutorial 10 - Control a Positional Servo Motor with an Arduino
						</a> <br>
						<a class="decoration-transparent" href="https://www.youtube.com/watch?v=vo7SbVhW3pE&t=258s">
							Se tutorial 3 - How to Use a Joystick with Arduino
						</a> <br>
					</p>
				</div>
				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					<p class=" text-md font-thin mt-0">
						Del 3: Introduktion til Robotarmen
						<br><br>
						<a class="decoration-transparent" href="https://www.youtube.com/watch?v=2MOFAHGUGps&t=0s">
							Se video - Popsicle Stick Robotic Arm with Arduino
						</a> <br>
						Sæt selv flere motorer på din arm <span class="text-sm">(Spørg Mark om hjælp)</span>
	
						
					</p>
				</div>
				
				</div>
				

		</div>
		
		
	</main>
</Layout>
