---
import Layout from '../layouts/Layout.astro';
//import { Image } from 'astro:assets';
//import madlavning from "../images/madlavning godot.png"

const videoUrl = "https://www.youtube.com/embed/tFsETEP01k8";




---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mt-8 mb-[unset]">Aseprite 2D</h1>
		<div class="instructions text-center">
			<iframe 
			width="560" 
			height="315" 
			src={videoUrl} 
			title="YouTube video player" 
			frameborder="0" 
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
			allowfullscreen
		  />
				<div class="p-8 mb-8">

					<h2 class="font-semibold text-center mt-12 mb-2">
						
						Design dine egne 2D sprites i Aseprite.
					</h2>			
					<br>
					<p class=" text-md font-thin mt-0"><span class="font-semibold">Fremgangsmåde: </span> Inden du følger vejledningen, skal du sørge for at have aseprite på din computer (Spørg Mark hvis du har brug for hjælp). <br><a href="https://www.aseprite.org/">Download det her</a><br> 
						<br><span class="font-bold"> Gør det selv: </span> Det er enormt vigtigt at du selv gør det han gør i videoen, da du lærer 3x så meget, som hvis du bare ser video og ser på ham gør det.</p>
				</div>
				
				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					Del 1: Intro 
					<p class=" text-md font-thin mt-0">
						<br>
						I denne videoen viser rundt i aseprite og derefter tagner han doughnut illustratione.
						<br>
						Se videoen og gør som han gør, trin for trin:
						<br><br>
						<a class="decoration-transparent pt-4" href="https://www.youtube.com/watch?v=tFsETEP01k8">
							Link til video
						</a>
						<br>
					</p>
				</div>
				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
						Del 2: Advanced
						<br>(Valgfri) 
					<p class=" text-md font-thin mt-0">
						<br>
						I denne videoen går han i dybten med shortcuts 
						<br>og uddyber hans fremgangsmåde ud i at tegne egne characterer.
						<br><br>
						Han benytter denne fremgangsmåde: <br>(1) Blocking out, (2) Shading, (3) Coloring, (4) Details
						<br><br>
						Start videoen ca 5 min. inde. Gør som han gør, trin for trin:
						<br><br>
						<a class="decoration-transparent pt-4" href="https://youtu.be/59Y6OTzNrhk?t=431">
							Link til video
						</a>
						<br>
					</p>
				</div>

				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					Inden del Del 3 
					<p class=" text-md font-thin mt-0">
						<br>
						På Lospec kan man finde gode farvepallets (farvekombinationer). Finde en du kan lide og brug den hvis i dit arbejde.
						<br><br>
						(1) Følg link (2) Vælg pallet (3) Download PNG (4) Drag ind i aseprites
						<br><br>
						<a class="decoration-transparent pt-4" href="https://lospec.com/palette-list">
							Link til Lospec
						</a>
						<br>
					</p>
				</div>

				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					Del 3: Animation 
					<p class=" text-md font-thin mt-0">
						<br>
						I denne videoen introducere han aniamtionsteknikker. <br>Teknikker du skal bruge for at kunne eksportere til eks. Godot.
						<br><br>
						Se videoen og gør som han gør, trin for trin:
						<br><br>
						<a class="decoration-transparent pt-4" href="https://www.youtube.com/watch?v=B0enS9BJne4&t=594s">
							Link til video
						</a>
						<br>
					</p>
				</div>
				
				</div>
				

		</div>
		
		
	</main>
</Layout>

<style>
	code{
		margin-left: 64px;
	}
	.instructions p, .instructions h3{
		margin-bottom: 12px;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1,h2 {
		
		line-height: 1;
		text-align: center;
		
	}

    h1{
        font-size: 4rem;
		font-weight: 700;
        margin-bottom: 1.6rem;
    }

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		
		padding: 1.5rem;
	}

	.border {
		border: 1px solid rgba(var(--accent-light), 25%);
		border-radius: 8px;
	}
	.instructions.color{
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));

	}
	.instructions > p{
		margin-bottom: 24px !important;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>