---
import Layout from '../layouts/Layout.astro';
//import { Image } from 'astro:assets';
//import madlavning from "../images/madlavning godot.png"

const videoUrl ="https://www.youtube.com/embed/ke5KpqcoiIU";







---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mt-8 mb-[unset]">Fra Blender til Godot</h1>
		<h2 class="mt-8 mb-[unset] font-thin">Med animation og import vejledning</h2><br>
		<div class="instructions">
			<iframe 
			width="560" 
			height="315" 
			src={videoUrl} 
			title="YouTube video player" 
			frameborder="0" 
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
			allowfullscreen
		  />
		  <a href="https://github.com/specialmindsaarhus/Blender_Import_To_Godot"><p class=" text-md font-thin mt-0">Download template Godot projekt</p></a>
		  
		  
		 
		  <br><br>
				<div class="p-8 mb-8 rounded-lg border-2 border-white border-solid">

					<p class=" text-md font-thin mt-0"><span class="font-semibold">Hvordan gør du, del 1: </span>   <br> 
						1) Ser Brackeys video om 3D spil. Evt. kun den del omkring 3D modeller i Godot <br>
						2) Importer en modeluden animation til Godot <br><br>
						<span class="font-semibold">Hvordan gør du, del 2: </span> <br>
						1) Arbejder med din model i blender og tilføjer en animation. <br>
						2) Laver dine animationer til NLA i Blender. <br>
						3) Importere din model og din animtions .glt fil til Godot <br>
						4) Setup i Godot
					</p> 
				</div>
				<div class="p-8 mb-8 rounded-lg border-2 border-white border-solid">
						<p class=" text-md font-thin mt-0"><span class="font-semibold">Del 1 </span> <br> 
							<p class=" text-md font-thin mt-0"> 1) Brackeys video om 3D spildesign:<a class="ms-4" href="https://youtu.be/ke5KpqcoiIU?t=1126">Link</a>
							<p class=" text-md font-thin mt-0"> 2) Importer en modeluden animation til Godot: <br>Følg vejledningen i Brackeys video eller spørg Mark.
				</div>
				<div class="p-8 mb-8 rounded-lg border-2 border-white border-solid">
						<p class=" text-md font-thin mt-0"><span class="font-semibold">Del 2 </span> <br> 
							<p class=" text-md font-thin mt-0"> 1) Animationer i Blender:<a class="ms-4" href="https://www.youtube.com/watch?v=SZJswvw9wEs&list=PLhFpOiPt7BHFJXTMoKybX5G2hjzD2Yjxe&index=25">Link</a>
							<p class=" text-md font-thin mt-0"> 2) NLA aniamationer. Særligt praktisk ift. Godot:<a class="ms-4" href="https://www.youtube.com/watch?v=mfdufhaiKtI&list=PLhFpOiPt7BHFJXTMoKybX5G2hjzD2Yjxe&index=24">Link</a>
							<p class=" text-md font-thin mt-0"> 3) Importere din model og din animtions .glt fil til Godot: <br>Følg vejledningen i Brackeys video eller spørg Mark.
							<p class=" text-md font-thin mt-0"> 3)  Setup i Godot: <br>Følg vejledningen i Brackeys video eller spørg Mark.
							
				</div>
				
				
				
				
				</div>
				

		</div>
		
		
	</main>
</Layout>
