---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import VideoComponent from '../components/VdeoComponent.astro';
//import Engineering from './engineering.astro';

const d = new Date()
const whatDay = d.getDay()

const videoUrl ="https://www.youtube.com/embed/B0J27sf9N1Y?list=PLjEaoINr3zgEPv5y--4MKpciLaoQYZB1Z"

---

<Layout title="Special Minds Aarhus @ Github">
	<main class="">
		<h1 class="mt-8 !mb-8">Blender Forløb</h1>
		<h2 class="mt-8 mb-[unset] text-center font-thin">Modelering, Texture og Animationer</h2><br>
    	<div class="instructions">
			<iframe 
			width="560" 
			src={videoUrl} 
			title="YouTube video player" 
			frameborder="0" 
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
			allowfullscreen
			class="w-full aspect-video"
		  />
		  
		 
		  <br><br>
				<div class="info-card">

					<p class=" text-2xl font-bold mt-0 ">Fra Begynder til Go'</p>	
					<p class="text-md font-thin mt-0 ">
						<a class="!no-underline" href="https://www.blender.org/">
						1) Installer Blender 
						</a>
						<br><br>
						<a class="!no-underline" href="https://www.youtube.com/watch?v=B0J27sf9N1Y&list=PLjEaoINr3zgEPv5y--4MKpciLaoQYZB1Z&index=1">
						2) Følg tutorialrække, for at lave din første donut <br>
							</a>
						<span class="text-sm text-center">En verdens berømt tutorial som ALLE nye starter med. <br>
							En step by step introduktion til blender og de aller mest essentielle værktæjer. </span>
							<br><br>
							<a class="!no-underline" href="https://www.youtube.com/watch?v=AEAc_lLjOMc&pp=0gcJCRsBo7VqN5tD">
						3) Animation For Beginners! Learn to Animate like a PRO in blender 
							</a><br>
						<span class="text-sm text-center">
							En step by step introduktion til animationer i blender </span>
						
					</p> 
				</div>

		<VideoComponent 
				src="/video/blender-forløb-video.mp4"
				classes="w-full"
			/>
			<div class="info-card">

					<p class=" text-2xl font-bold mt-0 ">Fra Go' til Pro</p>	
					<p class="text-md font-thin mt-0 ">
						1) Se videoen oven for - "whats the next step" 
						<br><br>
						<span class="text-md underline">Modellering</span><br>
						<span class="text-sm text-center">Grundig gennemgang af modellering<br> </span><br>
						<a class="!no-underline" href="https://www.youtube.com/watch?v=f_6Wau9WExk">
						1) 5 models in 7 minutes 
						</a>
						<br>
						<a class="!no-underline" href="https://www.youtube.com/watch?v=hN1_qfyBg68">
						2) Hard surface modeling in 5 minutes
						</a>
						<br>
						<a class="!no-underline" href="https://www.youtube.com/watch?v=f_6Wau9WExk">
						2) Bycicle modeling in blender
						</a>
						<br><br>
					</p> 
					<p class="text-md font-thin mt-0 ">
						<span class="text-md underline">Texture</span><br>
						<span class="text-sm text-center">Lær at lave realistiske texture<br> </span><br>
						<a class="!no-underline" href="https://www.youtube.com/watch?v=uHCJoNEWjXo">
						1) Blender Guru's texture tutorial 
						
						</a>
						<br>
						<a class="!no-underline" href="https://youtu.be/mZDaxZFERqQ?si=B5ngOrJjY2JdAoPM">
						2) Procedural worn painted metal
						</a>
						<br>
						<br>
					</p> 
					<p class="text-md font-thin mt-0 ">
						<span class="text-md underline">Animation</span><br>
						<span class="text-sm text-center">Dyk dybere ned i animationsteknikkerne<br> </span><br>
						<a class="!no-underline" href="https://www.youtube.com/watch?v=BiPoPMnU2VI">
						1) My New Rigging Workflow in Blender 
						</a>
						<br>
						<a class="!no-underline" href="https://www.youtube.com/watch?v=imbIsNAvUpM">
						2) Animate a charater in 15 minutes in blender 
						</a>
						<br>
					</p> 
					
					
				</div>
	</main>
</Layout>
