---
import Layout from '../layouts/Layout.astro';
//import { Image } from 'astro:assets';
//import madlavning from "../images/madlavning godot.png"
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mt-8 mb-[unset]">Dice Rolling</h1>
		<div class="instructions">

			<h2 class="font-semibold text-center mt-12  p-8">
					Dice Rolling Game
					<br>
					Command line game 
			</h2>
			<div class="info-card">
				<p class=" text-md font-thin mt-0">
					Fremgangsmåde:
					<br>
					1) Tjek/installer python (skriv i terminalen: python -V)
					<br>
					2) Hvis ikke eksisterer, så søg på install python 
					<br>
					(installer advanced udgaven - kryds alt af)
					<br>
					3) Se tutorial video
					
				</p>
			</div>

			<br>
				<h3>Links</h3>
				<a href="https://www.youtube.com/watch?v=yVl_G-F7m8c&t=0s" class="no-underline">
				<p class=" text-md font-thin">Tutorial Video</p>
				</a>
		</div>
		
		
	</main>
</Layout>
