---
import Layout from '../layouts/Layout.astro';
//import { Image } from 'astro:assets';
//import madlavning from "../images/madlavning godot.png"

const videoUrl = "https://www.youtube.com/embed/Q0JlD7gCZRs";


---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mt-8 mb-[unset]">Discord Bot</h1>
		<div class="instructions text-center">
			<iframe 
			width="560" 
			height="315" 
			src={videoUrl} 
			title="YouTube video player" 
			frameborder="0" 
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
			allowfullscreen
		  />
				<div class="p-8 mb-8">

					<h2 class="font-semibold text-center mt-12 mb-2">
						
						Din første Discord bot.
					</h2>			
					<br>
					<p class=" text-md font-thin mt-0"><span class="font-semibold">Fremgangsmåde: </span> Inden du følger vejledningen, skal du sørge for at have discord på din computer (Spørg Mark hvis du har brug for hjælp). I videoen viser han hvordan du downloader node.js og vs-code som også skal bruges. <br> 
						<br><span class="font-bold"> Gør det selv: </span> Det er enormt vigtigt at du selv gør det han gør i videoen, da du lærer 3x så meget end hvis du bare ser video og ser på han gør det.</p>
				</div>
				
				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					<p class=" text-md font-thin mt-0">
						Del 1.
						<br><br>
						<a class="decoration-transparent" href="https://www.youtube.com/watch?v=cd04o5yqSAU">
							Se videoen OG gør hvad han gør trin for trin.
						</a>
						<br>
					</p>
				</div>
				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					<p class=" text-md font-thin mt-0">
						Del 2.
						<br><br>
						<a class="decoration-transparent" href="https://www.youtube.com/watch?v=cd04o5yqSAU">
							Lav ændringer til din bot så den kan/gør noget der er relevant for dig,<br> eller bare er sjovt..
						</a>
						<br>
					</p>
				</div>
				
				</div>
				

		</div>
		
		
	</main>
</Layout>
