---
import Layout from '../layouts/Layout.astro';
//import { Image } from 'astro:assets';
//import madlavning from "../images/madlavning godot.png"
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mt-8 mb-[unset]">The Fundamentals of Programming</h1>
		<div class="instructions">

			<h2 class="font-semibold text-center mt-12  p-8 ">
					LinkedIn Learning
					<br>
					Video Kursus 
			</h2>
			<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
				<p class=" text-md font-thin mt-0">
					Fremgangsmåde:
					<br>
					1) Tjek linked forneden
					<br>
					2) Følg videoerne i rækkefælge
					<br>
					<br>
					VIGTIGT: 
					<br>
					Du får mest ud af, at du selv koder eksemplerne fra videoerne.
					
					<br>
					Mest ud af at gøre, ikke kun lytte... :)
					
				</p>
			</div>

			<br>
				<h3>Links</h3>
				<a href="https://www.linkedin.com/learning/programming-foundations-fundamentals-3/the-fundamentals-of-programming?contextUrn=urn%3Ali%3AlearningCollection%3A6894238256200769537&resume=false&u=87818706" class="no-underline">
				<p class=" text-md font-thin">Kursus Videoer (kræver login)</p>
				</a>
		</div>
		
		
	</main>
</Layout>
