---
import Layout from '../layouts/Layout.astro';
//import { Image } from 'astro:assets';
//import madlavning from "../images/madlavning godot.png"
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mt-8 mb-[unset]">Godot</h1>
		<div class="instructions text-center">

			<h2 class="font-semibold text-center mt-12  p-8">
				
					2D Platformspil i Godot:
				</h2>				
				
				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					<p class=" text-md font-thin mt-0">
						Forløb 1:
						<br>
						Se tutorial 1 - få overblik
						<br>
						Installer Godot
						<br>
						Hent assets (se link i video)
						<br>
						Følg tutorial
					</p>
				</div>
				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					<p class=" text-md font-thin mt-0">
					Forløb 2:
					<br>
					Gør spillet til dit eget (f.eks. egne karaktere)
					<br>
					Tilføj flere levels
					<br>
				</p>
				</div>
				
				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					<p class=" text-md font-thin mt-0">
					Forløb 3:
					<br>
					Se tutorial 2 - udvid spillet
					<br>
					Bonus: se video om Object Orienteret Programming
					<br>
				</p></div>

				<br>
				<h3>Links</h3>
				<a href="https://www.youtube.com/watch?v=LOhfqjmasi0" class="no-underline">
				<p class=" text-md font-thin">Tutorial Nr. 1 - Godot Engine</p>
				</a>

				<a href="https://www.youtube.com/watch?v=e1zJS31tr88" class="no-underline">
				<p class=" text-md font-thin">Tutorial Nr. 2 - Scripting</p>
				</a>

				<a href="https://www.youtube.com/watch?v=RGSLV31wJiQ" class="no-underline">
					<p class=" text-md font-thin">Object Oriented Programming - Bonus Video</p>
					</a>

					<a href="https://www.youtube.com/watch?v=GZrALMvOwY8&ab_channel=PlugWorld" class="no-underline">
						<p class=" text-md font-thin">
							Level Change - Video Tutorial
						</p>
					</a>
					<br>
					<h3>Bonus Links</h3>
					<a href="https://www.sandromaglione.com/articles/how-to-implement-state-machine-pattern-in-godot" class="no-underline">
						<p class=" text-md font-thin">
							Statemachine - Text Tutorial
						</p>
					</a>
					<a href="https://www.youtube.com/watch?v=ow_Lum-Agbs&ab_channel=Bitlytic" class="no-underline">
						<p class=" text-md font-thin">
							Statemachine - Video Tutorial
						</p>
					</a>
            
		</div>
		
		
	</main>
</Layout>
