---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
//import Engineering from './engineering.astro';

const d = new Date()
const whatDay = d.getDay()




---

<Layout title="Special Minds Aarhus @ Github">
	<main>
		<h1 class="mt-6">I dag:<span class="text-gradient">
			{
				whatDay < 2 ? 'Programmering' : 'Engineering'
			}
			</span></h1>
		<ul role="list" class="link-card-grid">
			<Card
			href="/lego_league_10th"
			title="Engineering"
			body="LEGO League"
			/>
			<Card
			href="/lego_league_9th"
			title="Engineering"
			body="LEGO League"
			/>
			<Card
			href="/programmering_app_1st"
			title="Programmering"
			body="Programmering - Godot"
			/>
			<Card
			href="/lego_league_8th"
			title="Engineering"
			body="LEGO League - Attatchment"
			/>
			<Card
			href="/lego_league_7th"
			title="Engineering"
			body="LEGO League - Attatchment"
			/>
			<Card
			href="/programmering_godot_6th"
			title="Programmering"
			body="Programmering - Godot"
			/>
			<Card
			href="/lego_league_6th"
			title="Engineering"
			body="LEGO League - Attatchment"
			/>
			<Card
			href="/programmering_godot_5th"
			title="Programmering"
			body="Programmering - Godot"
			/>
			<Card
			href="/lego_league_5th"
			title="Engineering"
			body="LEGO League - Attatchment"
			/>
			<Card
			href="/programmering_godot_4th"
			title="Programmering"
			body="Programmering - Godot"
			/>
			<Card
			href="/lego_league_4th"
			title="Engineering"
			body="LEGO League - Attatchment"
			/>
			<Card
			href="/programmering_godot_3th"
			title="Programmering"
			body="Programmering - Godot"
			/>
			<Card
			href="/lego_league_2nd"
			title="Engineering"
			body="LEGO League - Attatchment"
			/>
			<Card
			href="/programmering_godot_2nd"
			title="Programmering"
			body="Programmering - Godot"
			/>
			<Card
			href="/lego_league_1st"
			title="Engineering"
			body="LEGO League - Første Mission"
			/>
			<Card
			href="/programmering_godot_intro"
			title="Programmering"
			body="Programmering - Godot intro"
			/>
			<Card
			href="/lego_league_sprint"
			title="Engineering"
			body="LEGO League sprint"
			/>
			
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1.125;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		padding: 1.5rem;
		border-radius: 8px;
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
	}
	.instructions.color{

	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
