---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
//import Engineering from './engineering.astro';

const d = new Date()
const whatDay = d.getDay()




---

<Layout title="Special Minds Aarhus @ Github">
	<main>
		<h1 class="">
			Special Minds
			<span class="text-gradient">
				Programmering
			</span>
		</h1>
		<div class="instructions" style="padding: 0;">
			<div class="bg-gray-900" style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 0;   overflow: hidden;
 border-radius: 8px; will-change: transform;">
  				<iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https://www.canva.com/design/DAGbJdVzdBY/IvS-X4Q0zW3Qa3Ns6M2Ihg/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  				</iframe>
			</div>
<a class="text-sm m-2"href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGbJdVzdBY&#x2F;IvS-X4Q0zW3Qa3Ns6M2Ihg&#x2F;view?utm_content=DAGbJdVzdBY&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Canva Link</a><br>
			
		</div>
		
		<ul role="list" class="link-card-grid">
			<Card
			href="/algorithm-cookie-game"
			title="Algorithm Cookie Game"
			body="Lær algoritmisk tænkning gennem cookie-dekoration"
			/>
			<Card
			href="/godot-custom-sprites"
			title="Tilføj Custom Sprites til Godot"
			body="Lær at finde og tilføje egne sprites til dit Godot-spil"
			/>
			<Card
			href="/baldurs-gate-3-modding"
			title="Baldur's Gate 3 Modding"
			body="Lav dit eget mod til Baldur's Gate 3 med LUA"
			/>
			<Card
			href="/pcbuildersimulator"
			title="PC Builder Simulator"
			body="Spil der lærer dig om hardware og computer-builds"
			/>
			<Card
			href="/tryhackme"
			title="TryHackMe - IT Sikkerhed"
			body="Lær hacking og IT-sikkerhed gennem spil og øvelser"
			/>
			<Card
			href="/underthewire"
			title="Under The Wire - Powershel spil"
			body="Spil der lærer dig at bruge powershell og SSH"
			/>
			<Card
			href="/blender-forlob"
			title="Blender, fra begynder til Pro"
			body="Modelering, texture og animationer i blender"
			/>
			<Card
			href="/blender_godot"
			title="Fra Blender til Godot"
			body="Animationer i Blendeer importeret til Godot"
			/>
			<Card
			href="/turringtumble"
			title="Turring Tumble"
			body="Design dine egne 2D sprites i Aseprite"
			/>
			<Card
			href="/libresprite"
			title="Libresprite pixelart"
			body="Design dine egne 2D sprites i Aseprite"
			/>
			<Card
			href="/cs50"
			title="Computer Science Undervisning"
			body="Undevisningsfroløb"
			/>
			<Card
			href="/discord-bot"
			title="Discord Bot forløb"
			body="Links og vejledning"
			/>
			<Card
			href="/arduino_forlob"
			title="Arduino Introduktion + Robotarm"
			body="Links og vejledning"
			/>
			<Card
			href="/autoclicker"
			title="Autoclicker m. Python"
			body="Links og vejledning"
			/>
			<Card
			href="/dice_rolling_game"
			title="Dice Rolling Game m. Python"
			body="Links og vejledning"
			/>
			<Card
			href="fundamentals_of_programming"
			title="The Fundamentals of Programming m. Python"
			body="Links og vejledning"
			/>
			<Card
			href="/godot_2d"
			title="2D platformspil i Godot"
			body="Links og vejledning"
			/>


		</ul>
	</main>
</Layout>

