---
import Layout from '../layouts/Layout.astro';
//import { Image } from 'astro:assets';
//import madlavning from "../images/madlavning godot.png"

const videoUrl = "https://www.youtube.com/embed/TKmjfKT1y9s";







---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mt-8 mb-[unset]">Libresprite 2D</h1>
		<div class="instructions">
			<img src="/public/libresprite-header.jpg">
				<div class="p-8 mb-8">

					<h2 class="font-semibold text-center mt-12 mb-2">
						
						Design dine egne 2D sprites i Libresprite.
					</h2>			
					<br>
					<p class=" text-md font-thin mt-0"><span class="font-semibold">Fremgangsmåde: </span> Inden du følger vejledningen, skal du sørge for at have aseprite på din computer (Spørg Mark hvis du har brug for hjælp). <br><a href="https://libresprite.github.io/#!/downloads">Download det her</a><br> 
						<br><span class="font-bold"> Gør det selv: </span> Det er enormt vigtigt at du selv gør det han gør i videoen, da du lærer 3x så meget, som hvis du bare ser video og ser på ham gør det.</p>
				</div>
				
				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					Del 1: Intro 
					<p class=" text-md font-thin mt-0">
						<br>
						I denne videoen viser rundt i aseprite og derefter tagner han doughnut illustratione.
						<br>
						Se videoen og gør som han gør, trin for trin:
						<br><br>
						<a class="decoration-transparent pt-4" href="https://www.youtube.com/watch?v=TKmjfKT1y9s">
							Link til video
						</a>
						<br>
					</p>
				</div>
				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
						Del 2: Advanced
						<br>(Valgfri) 
					<p class=" text-md font-thin mt-0">
						<br>
						I denne videoen går han i dybten med shortcuts 
						<br>og uddyber hans fremgangsmåde ud i at tegne egne characterer.
						<br><br>
						Han benytter denne fremgangsmåde: <br>(1) Blocking out, (2) Shading, (3) Coloring, (4) Details
						<br><br>
						Start videoen ca 5 min. inde. Gør som han gør, trin for trin:
						<br><br>
						<a class="decoration-transparent pt-4" href="https://youtu.be/59Y6OTzNrhk?t=431">
							Link til video
						</a>
						<br>
					</p>
				</div>

				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					Inden del Del 3 
					<p class=" text-md font-thin mt-0">
						<br>
						På Lospec kan man finde gode farvepallets (farvekombinationer). Finde en du kan lide og brug den hvis i dit arbejde.
						<br><br>
						(1) Følg link (2) Vælg pallet (3) Download PNG (4) Drag ind i aseprites
						<br><br>
						<a class="decoration-transparent pt-4" href="https://lospec.com/palette-list">
							Link til Lospec
						</a>
						<br>
					</p>
				</div>

				<div class="rounded-lg border-2 border-white border-solid mb-4 p-4">
					Del 3: Animation 
					<p class=" text-md font-thin mt-0">
						<br>
						I denne videoen introducere han aniamtionsteknikker. <br>Teknikker du skal bruge for at kunne eksportere til eks. Godot.
						<br><br>
						Se videoen og gør som han gør, trin for trin:
						<br><br>
						<a class="decoration-transparent pt-4" href="https://www.youtube.com/watch?v=f2Xiwwouh-8">
							Link til video
						</a>
						<br>
					</p>
				</div>
				
				</div>
				

		</div>
		
		
	</main>
</Layout>
