---
import Layout from '../layouts/Layout.astro';
//import { Image } from 'astro:assets';
//import madlavning from "../images/madlavning godot.png"

const videoUrl = "https://www.youtube.com/watch?v=WLP_L7Mgz6M"

---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mt-8 mb-[unset]">Mathias's Vejledning</h1>
		<div class="instructions text-center">
			<iframe 
			width="560" 
			height="315" 
			src={videoUrl} 
			title="YouTube video player" 
			frameborder="0" 
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
			allowfullscreen
		  />
				<div class="p-8 mb-8">

					<h2 class="font-semibold text-center mt-12 mb-2">
						
						<a href="https://www.youtube.com/watch?v=RiQcnVgBhFE">
                            Vejledning til eksport af Godot spil:
                            </a>
					</h2>			
					<br>
					<p class=" text-md font-thin mt-0"><span class="font-semibold">Fremgangsmåde: </span> </p>
					<p class=" text-md font-thin mt-0">Videoen består af 2 dele.</p>
					<p class=" text-md font-thin mt-0"> Del 1 omkring eksport af spillet. Start med denne del</p>
					<p class=" text-md font-thin mt-0"> Del 2 er omkring at uploade til itch.io (en spil platform lidt alla steam). Det kræver at du opretter en bruger på itch. Denne del er valgfri</p>
                    <br><a href="https://itch.io/">Link til itch.io</a>
				</div>
				
				</div>
				

		</div>
		
		
	</main>
</Layout>
