---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import madlavning from "../images/madlavning godot.png"
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mt-6">Programmering</h1>
        <h2>Godot & Gamedesign</h2>
		<div class="instructions bg-black">
			<h3 class="font-semibold">
                Hvad skal vi i dag?
                <span class="text-xs">
                    Mark fortæller (Max 10 min)
                </span>
				<p>
					1) Udvikle spillet :)
				</p>
				<p>
					2) Opret dig på itch.io (hvis du vil)
				</p>
				<p>
					3) Eksporter dit spil - følg vejledning
				</p>
				<p>
					4) Upload til gitHub - hvis når det
				</p>
            </h3>
			<p class="text-sm leading-12">
				H'erne
			</p>
		</div>

		<div class="instructions bg-black">
            <h3 class="font-semibold">
                <a href="/lykkehjulet">
                    Lykkehjulet er eksporter!
                </a>
                <span class="text-xs">
                    Mark fortæller (Max 10 min)
                </span>
            </h3>
		</div>
		<div class="instructions bg-black">
			<h3>Eksport vejledning</h3>
			<p class="text-xs">Inden du starter: Tjek hvad dit spil har af width og height </br>- se det under projekt settings.</p>
			<p class="text-xs">
				Følg vejledningen... eksporter til web
			</p>
			<a href="https://www.youtube.com/watch?v=RiQcnVgBhFE">
				<p class="font-semibold">
					Følg vejledning
				</p>
			</a>
        </div>
		<div class="instructions bg-black">
			<h3>Normal vejledning</h3>
			<p class="text-xs">
				Følg vejledningen... lav dit spil.
			</p>
			<a href="https://www.youtube.com/watch?v=LOhfqjmasi0">
				<p class="font-semibold">
					Følg vejledning
				</p>
			</a>
        </div>
		

		<div class="instructions bg-black">
            <h3 class="font-semibold">
                Link til Green Knight Splasg screen:
            </h3>
			
			<p>
				Find Assets: K:\Godot Spilprogrammering\brackeys_platformer_assets
			</p>
        </div>

		<div class="instructions">
			<h3 class="font-semibold">
				Ekstra Opgaver:
			</h3>
			<a href="https://www.youtube.com/watch?v=GZrALMvOwY8&ab_channel=PlugWorld">
				<p>
					Level Change - Video Tutorial
				</p>
			</a>
			<a href="https://www.sandromaglione.com/articles/how-to-implement-state-machine-pattern-in-godot">
				<p>
					Statemachine - Text Tutorial
				</p>
			</a>
			<a href="https://www.youtube.com/watch?v=ow_Lum-Agbs&ab_channel=Bitlytic">
				<p>
					Statemachine - Video Tutorial
				</p>
			</a>
		</div>

	</main>
</Layout>

<style>
	h2 {
		font-size: 1rem;
		font-weight: 600;
		margin-bottom: 4rem;
	}
	.instructions {
		border: 1px solid rgba(var(--accent-light), 25%);
		border-radius: 8px;
	}
	.instructions p {
		margin-left: 64px;
	}
</style>