---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mt-6">Programmering</h1>
        <h2>GitHub & Oprettelse</h2>
		<div class="instructions lykkehjulet">
			<h3 class="font-semibold">
				Lykkehjulet
                <span class="text-xs">
					Mark fortæller (Max 10 min)
                </span>
            </h3>
			<a class="text-sm" href="https://www.google.com/search?q=html+css+javascript+explained&sca_esv=cebc95f0293f483f&rlz=1C1GCEB_enDK1099DK1100&biw=1920&bih=911&tbm=vid&sxsrf=ACQVn0-Ofztpk7N75a4fHxdYoeXJ0wxfAg%3A1712045795812&ei=474LZouMMf-Qxc8Pr5eDwAw&oq=html+css+js+explain&gs_lp=Eg1nd3Mtd2l6LXZpZGVvIhNodG1sIGNzcyBqcyBleHBsYWluKgIIADIGEAAYFhgeMgsQABiABBiKBRiGAzILEAAYgAQYigUYhgMyCxAAGIAEGIoFGIYDMgsQABiABBiKBRiGA0jnH1CJB1inF3AAeACQAQCYAU-gAdUEqgEBObgBA8gBAPgBAZgCCaAC7QTCAgQQIxgnwgIKEAAYgAQYFBiHAsICBRAAGIAEwgIKEAAYgAQYigUYQ8ICCBAAGAgYHhgNmAMAiAYBkgcBOaAHyjY&sclient=gws-wiz-video#fpstate=ive&vld=cid:47bf1211,vid:gT0Lh1eYk78,st:0">Link</a>
        </div>
        <div class="instructions">
            <h3 class="font-semibold">
                GitHub Bruger
            </h3>
			<p>
				Gå ind på <a href="https://github.com">github.com</a> og opret en bruger
			</p>
			<p>
				Vigtigt: husk dit brugernavn og din brugermail, du får brug for det.
			</p>
        </div>
		<div class="instructions">
            <h3 class="font-semibold">
                Opret forbindelse til gitHub på din computer
            </h3>
			<p>
				Åben terminalen og skriv følgende:
				<br>
				<span>
					git config --global user.name "[dit bruger navn]"
				</span><br>
				der næst skriv:
				<span>
					git config --global user.emial "[din gitHub bruger email]"
				</span>
			</p>
        </div>
		<div class="instructions">
            <h3 class="font-semibold">
                GitHub Clone
				<span class="text-xs">
					Clone dit første gitHub repository
				</span>
            </h3>
			<p>
				Fra den mappe du ønsker at clone til, åben terminalen og skriv følgende:
				<br>
				<span>
					git clone "https://github.com/specialmindsaarhus/GithubIntroduktion.git"
				</span>
			</p>
        </div>
			<div class="instructions">
				<h3 class="font-semibold">
					Går du med Wordpress eller Astro?
					
				</h3>
				<p>
					<p>
						Astro: Clone 
						<a href="https://github.com/specialmindsaarhus/astro-template">
							astro-template 
						</a>
						repositoriet hos specialmindsaarhus
					</p>
					<p>
						Wordpress: Åben "Local Flywheel" på din computer og opret ny site
					</p>
				</p>
			</div>
        </div>
	</main>
</Layout>

<style>
	a{
		text-decoration: underline;
	}
	.instructions p, .instructions h3{
		margin-bottom: 12px;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1,h2 {
		
		line-height: 1;
		text-align: center;
		
	}

    h1{
        font-size: 4rem;
		font-weight: 700;
        margin-bottom: 1.6rem;
    }

    h2{
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 4rem;
    }
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
    .instructions p{
        margin-left:64px;
    }
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>