---
import Layout from '../layouts/Layout.astro';
//import Card from '../components/Card.astro';
//import Engineering from './engineering.astro';

const d = new Date() 
const whatDay = d.getDay()
			
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="div-wrapper">
			<img src='https://content.codecademy.com/courses/freelance-1/unit-2/explorer.jpeg' />
			<h1 class='title'>Top Vacation Spots</h1>
			<h5 id="mark">By: Stacy Gray</h5>
			<h6>Published: 2 Days Ago</h6>
			<p>hdhhdh</p>
			
			<p>The world is full of fascinating places. Planning the perfect vacation involves packing up, leaving home, and experiencing something new.</p>
		</div> 
	</main>
</Layout>

<style>
	.div-wrapper{
		margin: 20vw;
		padding: 100px;
		border: 2px solid green;
	}
	#mark{
		color:green !important;
	}

	main{
		background-image: url('https://sxcontent9668.azureedge.us/cms-assets/assets/Galileo_L12_PPF_DSC_6049_desktop_cef1bc1758.jpg');
	}

</style>
