---
import Layout from '../layouts/Layout.astro';
//import { Image } from 'astro:assets';
//import madlavning from "../images/madlavning godot.png"

const videoUrl ="https://www.youtube.com/embed/sFKVwESnHHc";


---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mt-8 mb-[unset]">Century
			<br>
			<span class="text-5xl">
				Af UnderTheWire
			</span>
		</h1>
		<h2 class="font-thin text-xl">Et spil til at lære brugen af terminalen/powershell og serveradgang vis SSH</h2>
		<div class="instructions text-center">
			<iframe 
			width="560" 
			height="315" 
			src={videoUrl} 
			title="YouTube video player" 
			frameborder="0" 
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
			allowfullscreen
		  />
		  <br><br>
		  <p class="text-sm">Der er tradition for, i IT verden, at lave 'wargames' hvor spilleren skal løse div. opgaver for at lære brugen af f.eks. terminalen/powershell. 
			<br>	
			Century er et sådan wargame, hvor man logger på en server, finder informationer for at kunne logge på en ny server for igen at finde informationer der igen hjælper en til at komme videre i spillet. 
			<br>
			Alt foregår i terminalen/powershell, og der er intet grafisk interface.
			<br>
			Hvert level er forklaret på hjemmesiden (se link nedenfor).
			<br><br>
			Have fun!
		  </p>
		  
		  
		  <p class="text-sm">
			
		  </p>
		  <a href="https://underthewire.tech/century">
			  
			  <h3 class="font-semibold text-xl text-center mt-12 mb-2">
				  
					Vejledening til hvordan du løser levels
			  </h3>			
		  </a>
		  <br>
				<div class="p-8 mb-8 rounded-lg border-2 border-white border-solid">

					<p class=" text-md font-thin mt-0"><span class="font-semibold">Hvordan gør du: </span><br> 
						<br>						
						1) Find vejledningen via linker ovenfor. Se evt. videoen.
						<br>
						<br>


						2) Åben din terminal/powershell
						<br><br>

						3) Tilgå spillet: ssh century1@century.underthewire.tech -p 22
						<br><br>
						4) Password: century1
						<br>
						<span class="text-sm">
							<span class="font-semibold">Note:</span> Når den spørg efter password kan du ikke se hvad du skriver. 
							<br> 
							Det er terminalens måde at skjule dit kodeord. Skriv bare kodeordet og tryk enter.
						</span>
						</p>
				</div>

				<div class="p-8 mb-8 rounded-lg border-2 border-white border-solid">

					<p class=" text-md font-thin mt-0"><span class="font-semibold">Hvad gør jeg så?</span><br> 
						<br>						
						1) For hvert level kan du finde infromationen i linket ovenfor.
						<br>
						<br>


						<span class="text-lg">
						Ofte skal du hente noget information i dit nuværende link
						<br>
						Så lukke din nuvælrende SSH forbindelse (skriv "exit") og åbne en ny. 
						<br>
						Hvor du logge rind på en ny server. 
						<br>
						F.eks. 'ssh century2@...' frem for tidligere  'ssh centurty1@...'
						<br><br>

						</span>
						</p>
				</div>
				

		</div>
		
		
	</main>
</Layout>
