---
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<nav class="justify-end flex !mx-4 text-sm text-bold" >
			<a class="decoration-transparent" href="https://www.canva.com/design/DAGbI5L-3_Q/HGeL6J9KP_DwGnGnU1Sjrw/view?utm_content=DAGbI5L-3_Q&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h891ace3ba4">
				<span class="text-white opacity-60">Flow Opgaver</span>
			</a>
			<a class="decoration-transparent" href="https://quickref.me/html.html">
				<span class="text-white opacity-60 ms-5">HTML Cheatsheet</span>
			</a>
			<a class="decoration-transparent" href="https://minapecheux.com/downloads/MPecheux_Godot-Nodes-Cheatsheet_2024.pdf">
				<span class="text-white opacity-60 ms-5">Godot Cheatsheet</span>
			</a>
			<a class="decoration-transparent" href="https://github.com/specialmindsaarhus">
				<span class="text-white opacity-60 ms-5">Github</span>
			</a>
		</nav>
		<slot />
	</body>
</html>
