---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<nav class="justify-end flex mr-2 text-sm text-bold" >
			<a href="https://spike.legoeducation.com/prime/project">
				<span class="text-white opacity-50">LEGO Prime</span>
			</a>
			<a href="/lykkehjulet">
				<span class="text-white opacity-50 ms-5">Lykkehjulet</span>
			</a>
			<a href="/designregler">
				<span class="text-white opacity-50 ms-5">Designregler</span>
			</a>
			<a href="https://minapecheux.com/downloads/MPecheux_Godot-Nodes-Cheatsheet_2024.pdf">
				<span class="text-white opacity-50 ms-5">Godot Cheatsheet</span>
			</a>
		</nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #0c0c0d;
		background-size: 224px;
		color:white;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.lykkehjulet{
		background-color: rgb(197, 192, 122) !important;
	}
	a{
		color: white;
	}
	a:visited{
		color: rgba(255, 255, 255, 0.856) !important
	}
	body{
		position: relative;
	}
	nav{
		position: absolute;
		width: 100%;
	}
</style>
