---
import '../styles/global.css';

interface Props {
	title: string;
	showNav?: boolean;
}

const { title, showNav = true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<header class="site-header">
			<a href="/">
				<img src="/special-minds-logo.png" alt="Special Minds" class="site-logo" />
			</a>
			{showNav && (
				<nav class="site-nav">
					<a href="https://quickref.me/html.html">
						<span>HTML Cheatsheet</span>
					</a>
					<a href="https://minapecheux.com/downloads/MPecheux_Godot-Nodes-Cheatsheet_2024.pdf">
						<span>Godot Cheatsheet</span>
					</a>
					<a href="https://github.com/specialmindsaarhus">
						<span>Github</span>
					</a>
				</nav>
			)}
		</header>
		<slot />
	</body>
</html>
